<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>AffinityFinder</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Q1</display-name>
    <servlet-name>Q1</servlet-name>
    <servlet-class>Q1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Q1</servlet-name>
    <url-pattern>/Q1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Q2</display-name>
    <servlet-name>Q2</servlet-name>
    <servlet-class>Q2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Q2</servlet-name>
    <url-pattern>/Q2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Q3</display-name>
    <servlet-name>Q3</servlet-name>
    <servlet-class>Q3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Q3</servlet-name>
    <url-pattern>/Q3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Q4</display-name>
    <servlet-name>Q4</servlet-name>
    <servlet-class>Q4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Q4</servlet-name>
    <url-pattern>/Q4</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Q5</display-name>
    <servlet-name>Q5</servlet-name>
    <servlet-class>Q5</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Q5</servlet-name>
    <url-pattern>/Q5</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Q6</display-name>
    <servlet-name>Q6</servlet-name>
    <servlet-class>Q6</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Q6</servlet-name>
    <url-pattern>/Q6</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Q7</display-name>
    <servlet-name>Q7</servlet-name>
    <servlet-class>Q7</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Q7</servlet-name>
    <url-pattern>/Q7</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Q8</display-name>
    <servlet-name>Q8</servlet-name>
    <servlet-class>Q8</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Q8</servlet-name>
    <url-pattern>/Q8</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Q9</display-name>
    <servlet-name>Q9</servlet-name>
    <servlet-class>Q9</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Q9</servlet-name>
    <url-pattern>/Q9</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Q10</display-name>
    <servlet-name>Q10</servlet-name>
    <servlet-class>Q10</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Q10</servlet-name>
    <url-pattern>/Q10</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Q11</display-name>
    <servlet-name>Q11</servlet-name>
    <servlet-class>Q11</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Q11</servlet-name>
    <url-pattern>/Q11</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Q12</display-name>
    <servlet-name>Q12</servlet-name>
    <servlet-class>Q12</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Q12</servlet-name>
    <url-pattern>/Q12</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Q13</display-name>
    <servlet-name>Q13</servlet-name>
    <servlet-class>Q13</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Q13</servlet-name>
    <url-pattern>/Q13</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Q14</display-name>
    <servlet-name>Q14</servlet-name>
    <servlet-class>Q14</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Q14</servlet-name>
    <url-pattern>/Q14</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Q15</display-name>
    <servlet-name>Q15</servlet-name>
    <servlet-class>Q15</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Q15</servlet-name>
    <url-pattern>/Q15</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Q16</display-name>
    <servlet-name>Q16</servlet-name>
    <servlet-class>Q16</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Q16</servlet-name>
    <url-pattern>/Q16</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Q17</display-name>
    <servlet-name>Q17</servlet-name>
    <servlet-class>Q17</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Q17</servlet-name>
    <url-pattern>/Q17</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Q18</display-name>
    <servlet-name>Q18</servlet-name>
    <servlet-class>Q18</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Q18</servlet-name>
    <url-pattern>/Q18</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Q19</display-name>
    <servlet-name>Q19</servlet-name>
    <servlet-class>Q19</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Q19</servlet-name>
    <url-pattern>/Q19</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Q20</display-name>
    <servlet-name>Q20</servlet-name>
    <servlet-class>Q20</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Q20</servlet-name>
    <url-pattern>/Q20</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Q21</display-name>
    <servlet-name>Q21</servlet-name>
    <servlet-class>Q21</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Q21</servlet-name>
    <url-pattern>/Q21</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Q22</display-name>
    <servlet-name>Q22</servlet-name>
    <servlet-class>Q22</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Q22</servlet-name>
    <url-pattern>/Q22</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Q23</display-name>
    <servlet-name>Q23</servlet-name>
    <servlet-class>Q23</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Q23</servlet-name>
    <url-pattern>/Q23</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Q24</display-name>
    <servlet-name>Q24</servlet-name>
    <servlet-class>Q24</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Q24</servlet-name>
    <url-pattern>/Q24</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Q25</display-name>
    <servlet-name>Q25</servlet-name>
    <servlet-class>Q25</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Q25</servlet-name>
    <url-pattern>/Q25</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Q26</display-name>
    <servlet-name>Q26</servlet-name>
    <servlet-class>Q26</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Q26</servlet-name>
    <url-pattern>/Q26</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Q27</display-name>
    <servlet-name>Q27</servlet-name>
    <servlet-class>Q27</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Q27</servlet-name>
    <url-pattern>/Q27</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Q28</display-name>
    <servlet-name>Q28</servlet-name>
    <servlet-class>Q28</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Q28</servlet-name>
    <url-pattern>/Q28</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Q29</display-name>
    <servlet-name>Q29</servlet-name>
    <servlet-class>Q29</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Q29</servlet-name>
    <url-pattern>/Q29</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Q30</display-name>
    <servlet-name>Q30</servlet-name>
    <servlet-class>Q30</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Q30</servlet-name>
    <url-pattern>/Q30</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Q31</display-name>
    <servlet-name>Q31</servlet-name>
    <servlet-class>Q31</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Q31</servlet-name>
    <url-pattern>/Q31</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Q32</display-name>
    <servlet-name>Q32</servlet-name>
    <servlet-class>Q32</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Q32</servlet-name>
    <url-pattern>/Q32</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Q34</display-name>
    <servlet-name>Q34</servlet-name>
    <servlet-class>Q34</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Q34</servlet-name>
    <url-pattern>/Q34</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Q33</display-name>
    <servlet-name>Q33</servlet-name>
    <servlet-class>Q33</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Q33</servlet-name>
    <url-pattern>/Q33</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Q35</display-name>
    <servlet-name>Q35</servlet-name>
    <servlet-class>Q35</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Q35</servlet-name>
    <url-pattern>/Q35</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Q36</display-name>
    <servlet-name>Q36</servlet-name>
    <servlet-class>Q36</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Q36</servlet-name>
    <url-pattern>/Q36</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Q37</display-name>
    <servlet-name>Q37</servlet-name>
    <servlet-class>Q37</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Q37</servlet-name>
    <url-pattern>/Q37</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Q38</display-name>
    <servlet-name>Q38</servlet-name>
    <servlet-class>Q38</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Q38</servlet-name>
    <url-pattern>/Q38</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Q39</display-name>
    <servlet-name>Q39</servlet-name>
    <servlet-class>Q39</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Q39</servlet-name>
    <url-pattern>/Q39</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Q40</display-name>
    <servlet-name>Q40</servlet-name>
    <servlet-class>Q40</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Q40</servlet-name>
    <url-pattern>/Q40</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Q41</display-name>
    <servlet-name>Q41</servlet-name>
    <servlet-class>Q41</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Q41</servlet-name>
    <url-pattern>/Q41</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Q42</display-name>
    <servlet-name>Q42</servlet-name>
    <servlet-class>Q42</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Q42</servlet-name>
    <url-pattern>/Q42</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Q43</display-name>
    <servlet-name>Q43</servlet-name>
    <servlet-class>Q43</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Q43</servlet-name>
    <url-pattern>/Q43</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Q44</display-name>
    <servlet-name>Q44</servlet-name>
    <servlet-class>Q44</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Q44</servlet-name>
    <url-pattern>/Q44</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Q45</display-name>
    <servlet-name>Q45</servlet-name>
    <servlet-class>Q45</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Q45</servlet-name>
    <url-pattern>/Q45</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Q46</display-name>
    <servlet-name>Q46</servlet-name>
    <servlet-class>Q46</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Q46</servlet-name>
    <url-pattern>/Q46</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Q47</display-name>
    <servlet-name>Q47</servlet-name>
    <servlet-class>Q47</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Q47</servlet-name>
    <url-pattern>/Q47</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Q48</display-name>
    <servlet-name>Q48</servlet-name>
    <servlet-class>Q48</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Q48</servlet-name>
    <url-pattern>/Q48</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Q49</display-name>
    <servlet-name>Q49</servlet-name>
    <servlet-class>Q49</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Q49</servlet-name>
    <url-pattern>/Q49</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Q50</display-name>
    <servlet-name>Q50</servlet-name>
    <servlet-class>Q50</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Q50</servlet-name>
    <url-pattern>/Q50</url-pattern>
  </servlet-mapping>
</web-app>